:global {

	/* Flexbox definitions */
	
	*[flex='center'] {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	*[flex='col-2'] {
		display: flex;

		> * {
			flex: 1 0 50%;
			width: 50%;
			max-width: 50%;
		}
	}
}